#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even){
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  
  .btn-warning {
    color: #6235f8;
  }

  button:hover {
    color: rgb(6, 215, 65);
  }
}

.modal-user-container {
  .container {
    .cut-50 {
      display: flex;
      justify-content: center;
      .form-group{
        margin: 0 0 0 10px;
      }
    }

    .cut-3 {
      display: flex;
      justify-content: space-between;
    }
  }
}