.section-home-footer {
    .center-content {
        margin-right: 80px;
        div >img {
            padding-left: 25px;
        }

        li > a {
            text-decoration: none;  

        }
    }

    .contact-information {
       background-color: #64b9e5;
       div > a {
            transition: all 0.5s ease; 
       }
    }
}