.home-header-container {
    height: 85px;
    width: 100%;
    .home-header-content {
        padding-left: 25px;
        background-color: #edfffa;
        width: 100%;
        height: 100%;
        display: flex;
        .left-content {
            width: 25%;
            display: flex;
            justify-content: end;
            .select-menu {
                background-color: #edfffa;
                border: none;
                width: 24%;
                i {
                    color: #969495;
                    padding-top: 4px;
                    font-size: 35px;
                    padding-left: 65px;
                    cursor: pointer;
                }
                i:hover {
                    cursor: pointer;
                    color: #0dcaf0;

                }
            }
            .header-logo {
                background: url(../../assets/images/logoBookingCare-removebg-preview.png) center no-repeat;
                background-size: cover;
                height: 100%;
                width: 75%;
            }
        }
        .center-content{
            width: 50%;
            font-size: 17px;
            a {
                text-decoration: none;
                font-weight: bold;
            }

        }

        .right-content{
            width: 28%;
            font-size: 17px;
            .item-hover:hover  {
                cursor: pointer;
                i, span {
                    color: #ffb742;
                }
            }
            
            .change-langue {
                margin-left: 30px;
                span {
                    padding: 0 2px;
                    font-size: 13px;
                    font-weight: bold;
                    color: #cfcfcf;
                }

                span:hover {
                    cursor: pointer;
                    color: #ff9a27;
                }

                .language-vi {
                    &.active {
                        color: #fe7139;
                        cursor: context-menu;
                    }
                }
                .language-en {
                    &.active {
                        color: #0086c3;
                        cursor: context-menu;
                    }
                }
                .language-en::before {
                    content: "|";
                    margin: 0 4px; /* Khoảng cách giữa dấu gạch và văn bản */
                    color: #817d7d;  /* Màu sắc của dấu gạch */
                  }

                
                  
            }
        }
        

    }

    
}
.home-header-banner{
    background-color: #92d7ee;
}